<% @users.each do |user|%>
    <p><b><%= user.first_name + " " + user.last_name %></b></p>
    <p><b><%= user.email %></b></p>
    <p><b><%= user.email %></b></p>
</div>
<% end %>

Need a Sign Up to Be a User button HERE
